# IMDB

## introdução
---
![imdb]()

---

Os dados analisados nesse notebook foram extraidos da minha conta pessoal do [IMDB](https://tse3.mm.bing.net/th?id=OIP.NPrBTjZ5scqqgZ4ZBmkWnwHaHa&pid=Api).

## importando bibliotecas e lendo os dados

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import datetime

In [2]:
imdb = pd.read_csv(r'C:\Users\mateu\OneDrive\Documentos\Programação\dados\IMDB_Mateus\ratings.csv', encoding='ISO-8859-1')
#covid_BR_19 = covid_BR_19.drop(columns=['region']).copy()
imdb.head()

,Const,Your Rating,Date Rated,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,tt1010048,8,2016-05-31,Slumdog Millionaire,https://www.imdb.com/title/tt1010048/,movie,8.0,120.0,2008,"Drama, Romance",773545.0,2008-08-30,"Loveleen Tandan, Danny Boyle"
1,tt1024648,8,2017-02-07,Argo,https://www.imdb.com/title/tt1024648/,movie,7.7,120.0,2012,"Biography, Drama, Thriller",554768.0,2012-08-31,Ben Affleck
2,tt0102926,9,2017-01-17,The Silence of the Lambs,https://www.imdb.com/title/tt0102926/,movie,8.6,118.0,1991,"Crime, Drama, Thriller",1203676.0,1991-01-30,Jonathan Demme
3,tt0105236,9,2016-02-17,Reservoir Dogs,https://www.imdb.com/title/tt0105236/,movie,8.3,99.0,1992,"Crime, Drama, Thriller",877192.0,1992-01-21,Quentin Tarantino
4,tt1063669,7,2016-06-06,Die Welle,https://www.imdb.com/title/tt1063669/,movie,7.6,107.0,2008,"Drama, Thriller",98812.0,2008-01-18,Dennis Gansel

## Resumo e preparação dos dados

In [3]:
print(imdb.shape)
print(imdb.columns)
print(imdb.columns.size)

(338, 13)
Index(['Const', 'Your Rating', 'Date Rated', 'Title', 'URL', 'Title Type',
       'IMDb Rating', 'Runtime (mins)', 'Year', 'Genres', 'Num Votes',
       'Release Date', 'Directors'],
      dtype='object')
13

O dataframe análisado tem 13 colunas e 338 filmes ou series registrados

| n° | Coluna | Descrição | Status |
| -- | :------------: | :------------------------------------------------------------------: | :-: |
| 1 | Const | xxxxx | ❌ |
| 2 | Your Rating | A nota que eu dei para o respectivo filme | ✔️ |
| 3 | Date Rated | Data que avaliei. Pode ser util.. | ❓ |
| 4 |Title | Titulo do filme | ✔️ |
| 5 | URL | Url do correspondente ao filme citado no imdb, Pode ser excluida para a analise | ❌ |
| 6 | Title Type | Descreve se é um filme ou uma série | ✔️ |
| 7 | Runtimes | Tempo do filme em minutos | ✔️ |
| 8 | Year | Ano de lançamento do Filme. imformação tmb aparece em 'release date' | ✔️ |
| 9 | Genres | generos associado ao filme | ✔️ |
| 10 | Num votes | Numero de votos do respectivo filme no site | ✔️ |
| 11 | release Date | Dia do lançamento | ✔️ |
| 12 | Directors | Diretor(es) do filme | ✔️ |
| 13 | IMDB Rating | media do filme | ✔️ |

In [14]:
imdb = imdb.replace(['Date Rated', 'Title Type', 'Num Votes', 'Release Date'], ['data_nota', 'Tipo', 'Num_votes', 'Data_lancamento']) #AS colunas foram renomeadas
imdb = imdb.loc[imdb['Title Type'] == 'movie']
#imdb = imdb.drop(columns=['Const', 'URL'])   # As colunas foram excluidas
imdb.head()

,Your Rating,Date Rated,Title,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,8,2016-05-31,Slumdog Millionaire,movie,8.0,120.0,2008,"Drama, Romance",773545.0,2008-08-30,"Loveleen Tandan, Danny Boyle"
1,8,2017-02-07,Argo,movie,7.7,120.0,2012,"Biography, Drama, Thriller",554768.0,2012-08-31,Ben Affleck
2,9,2017-01-17,The Silence of the Lambs,movie,8.6,118.0,1991,"Crime, Drama, Thriller",1203676.0,1991-01-30,Jonathan Demme
3,9,2016-02-17,Reservoir Dogs,movie,8.3,99.0,1992,"Crime, Drama, Thriller",877192.0,1992-01-21,Quentin Tarantino
4,7,2016-06-06,Die Welle,movie,7.6,107.0,2008,"Drama, Thriller",98812.0,2008-01-18,Dennis Gansel

## Teste

## fazer
-não consegui alterar o nome na coluna